.sec h1 {
    margin-left: 5rem;
    font-size: 2.3em;

}
.modelContainer {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    padding-right: 0;
    

}
.modelContainer div {
    width: 28em;
    height: 20em;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-right: 0;
    object-fit:scale-down;
    
    

}

.modelContainer div h2 {
    margin-left: 30px;
    font-size: 35px;
}

.modelBox {
    background-image: url("https://i.ibb.co/rbmwmf2/718model.jpg");
    
}
.modelBox2 {
    background-image: url("https://i.ibb.co/w65wQX2/911model.webp");
     
}
.modelBox3 {
    background-image: url("https://i.ibb.co/pdMLgcw/taycanmodel2.jpg");
    background-size: cover;
}
.modelBox4 {
    background-image: url("https://i.ibb.co/kSSh9NS/panamera-Model.webp");
     
}
.modelBox5 {
    background-image: url("https://i.ibb.co/VpSkPRg/macan-Model.webp");
   
}
.modelBox6 {
    background-image: url("https://i.ibb.co/6BgBvmQ/cayenne-Model.jpg");
    background-size: cover;
    
}

.btnBuild {
    background: white;
    font-size: 1em;
    border: none;
    margin-right: 10px;
    margin-left: 20px;
    cursor:pointer;
    transition-duration:0.2s;
    padding: 10px 20px;
    
}
.btnBuild:hover {
    background-color: red;
    color: white;
}
.btnModel {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    margin-top: 170px;
    font-size: 1em;
    cursor:pointer;
    transition-duration: 0.2s;
    padding: 10px 20px;
}
.btnModel:hover {
    color: red;
    border: 1px solid red;
}
@media(max-width: 1215px) {
    .modelContainer {
        width: 100%;
    }
}

@media(max-width: 1340px) {
    .modelContainer div {
        width: 40em;
    }
}
@media(max-width: 1280px) {
    .modelContainer div {
        width: 25em;
    }
}
@media(max-width: 1200px) {
    .modelContainer div {
        width: 24em;
    }
}
@media(max-width: 1150px) {
    .modelContainer div {
        width: 23em;
    }
}
@media(max-width: 1100px) {
    .modelContainer div {
        width: 22em;
    }
}
@media(max-width: 1050px) {
    .modelContainer div {
        width: 30.5em;
    }
}
@media(max-width: 975px) {
    .modelContainer div {
        width: 29em;
    }
}
@media(max-width: 925px) {
    .modelContainer div {
        width: 28em;
    }
}
@media(max-width: 895px) {
    .modelContainer div {
        width: 27em;
    }
}
@media(max-width: 860px) {
    .modelContainer div {
        width: 100%;
    }
}